body{
  background-image: url("img/bg.jfif");
}
.dws-submit {
  padding: 15px 20px;
  margin: 5px 0 20px 0;
  font-size: 12px;
  color: #ffffff;
  background-color: #75bac6;
  border-radius: 15px;
  border-bottom: 3px solid #6ee9fd;
  cursor: pointer;
}
.tema{
  background-color: #36ae19;
  position: absolute;
  left: -9999px;
}

input[type="text"], input[type="password"],input[type="email"]{
  width: 250px;
  height: 22px;
  font-size: 16px;
  margin-bottom: 12px;
  border-radius: 20px;
  padding-left: 20px;
}
.container{
  text-align: center;
  width: 450px;
  height: 500px;
  background-color: #36ae19;
  margin: 250px auto 0 auto;
}
.container img{
  width: 245px;
  height: 205px;
  margin: -60px 0 30px 0;
  border: 5px solid #5d5dff;

}
